* {  
font-family: 'Poppins', sans-serif;}
/* header er nav section css style */
header {
    padding: 120px 120px;
    background: #FFF;
}
.nav-title {
    width: 243px;
height: 52.2px;
color: #3A3A3A;
font-family: Poppins;
font-size: 1.5rem;
font-weight: 700;
}
nav li {
    width: 74px;
height: 34.8px;
color: #3A3A3A;
font-family: Poppins;
font-size: 1rem;
font-weight: 600;
list-style: none;
margin-right: 34px;
}
li a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav ul {
    display: flex;}
    /* header er banner section css style */
    .banner-container {
        align-items: flex-start;
        margin: auto;
    }
    .banner-title {
        width: 582px;
        height: 133px;
        color: #3A3A3A;
font-size: 4.1rem;
font-weight: 700;
line-height: 70px;
    }
    .banner-discription {
        width: 505px;
height: 60.9px;
color: #3A3A3A;
font-size: 1rem;
font-weight: 600;
    }
    
.btn-primary {
    display: inline-flex;
padding: 10px 24px;
align-items: flex-start;
gap: 8px;
border-radius: 41px;
background: #E02C6D;
color: #FFF;
font-family: Poppins;
font-size: 1rem;
font-weight: 700;
} .banner img {
    width: 70%;
    margin-top: 80px;
}
.banner {
    max-width: 1440px;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
}
/*  main er logo section  */
.logo-container {
    max-width: 1440;
    min-height: 50px;

}
.logo-title-container {
    width: 1110px;
    border: 5px solid gray;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    
}
.logo-img {
    width: 99.116px;
height: 39.607px;
}

/* grid container */
.popular-container h1 {
    color: #3A3A3A;
font-family: Poppins;
font-size: 28px;
font-weight: 600;
line-height: 70px;
text-align: center;
margin-bottom: 30px;
}
.grid-img-container img {
    width: 300px;
height: 256px;
border-radius: 5px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
 .grid-img-container h2 {
    color: var(--text-gray-900, #18191F);
font-family: Poppins;
font-size: 2rem;
font-weight: 500;
line-height: 40px;
 }
 .grid-img-container p {
    color: var(--gray-50, #787885);
font-family: Inter;
font-size: 1rem;
font-weight: 700;
line-height: 143%;
letter-spacing: 0.252px;
 }
 .grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
 }
 .grid-img-container {
    width: 329px;
height: 476px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
 }